/*Custom styles for TeachT3ch Web*/

.footer-text {
  font-size: 12px;
}

.team-img-circle {
  border-radius: 50% !important;
  width: 100px;
}

.sections-a-icons {
  margin-bottom: 2em !important;
  cursor: pointer !important;
}

.fa-angle-right {
  margin: 5px;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.fa-file-alt {
  margin: 5px;
}
.fa-youtube {
  color: red;
  margin: 5px;
}
.tema-title {
  cursor: pointer;
}

.remark-week {
  background-color: antiquewhite;
  padding: 10px;
  font-weight: bold;
}

.remark-week:before {
  content: "🔔";
}

.tema-title-downArrow-toRight {
  transform: rotate(90deg);
}

.tema-divDisplayContenidos-lista-item-enlaceIcono {
  margin: 5px;
  border: none;
}

.tema-divDisplayContenidos-lista-recursosAdicionales > li {
  border-style: none !important;
  list-style-type: none;
}

.tema-divDisplayContenidos-lista-recursosAdicionales > li:before {
  content: "👉";
  margin: 0 5px 0 0;
}

.tema-divDisplayContenidos-lista-recursosAdicionales-sublista > li {
  border-style: none !important;
  list-style-type: none;
}

.tema-divDisplayContenidos-lista-recursosAdicionales-sublista > li:before {
  content: "\02C3";
  margin: 0 5px 0 5px;
}

.displayContenidos {
  display: none;
}

.a-index {
  border-bottom: none;
}

.icon-team {
  padding-left: 9px;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.underline {
  text-decoration: underline wavy #e89980;
  padding-bottom: 10px;
}

.underline2 {
  text-decoration: underline dotted #e89980;
}

cite {
  font-style: oblique;
  font-family: revert;
  font-size: small;
  padding: 10px;
}
.mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

.mc_box {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mc_button {
  margin-top: 10px;
}

nav {
  font-family: monospace;
}
